*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;                                 
}
body
{
    overflow-x: hidden;
    background-color: #cccccc;
}
.header
{
    display: flex;
    height: 70px;
    background-color: #000000;
    justify-content: space-around;
}
.logo
{
    color: #B00000;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    margin-right: 95px;
    padding-top: 10px;
    padding-left: 15px;
}
.menu
{
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding-top: 10px ;
    bottom: 0;
}
.menu ul, li
{
    list-style: none;
}
.menu ul
{
    display: flex;
    align-items: center;
    height: 50px;
    width: 50vw;
    align-content: center;
}
.menu li
{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    padding: 20px 50px;
    margin: 15px 30px;
    padding-bottom: 40px;
    font-size: 16px;
    
}
.active
{
    background-color: #400000;
}
#grande
{
    padding-top: 10px;
}
.bandeiras
{

    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.bandeiras a img
{
    flex: 3;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    margin-left: 5px;
}

.corpo--home
{
    margin: 15px;
    background-color: #f4f4f6;
    box-shadow: #000000 4px 4px 8px;
    padding: 10px;
}
.corpo--home .container
{
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    width: 40vw;
    margin-left: 30%;
}
.corpo--home .foto img
{
    width: 350px;
}
.corpo--home .resumo h1
{
    font-size: 40px;
    font-weight: bolder;
}

.corpo--home .servicos p
{
    font-size: 20px;
}
.titulo
{
    font-size: 45px;
    font-weight: bolder;
    margin: 15px;
}
.corpo--portfolio
{
    margin: 15px;
    background-color: #f4f4f6;
    box-shadow: #000000 4px 4px 8px;
    padding: 10px;
}
.corpo--certificacoes
{
    margin: 15px;
    background-color: #f4f4f6;
    box-shadow: #000000 4px 4px 8px;
    padding: 10px;
}
.certificado
{
    display: flex;
    padding: 25px;
}
.certificado div
{
    margin: 15px;
    margin-left: 35px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.certificado a
{
    text-decoration: none;
}
.certificado a img
{
    width: 250px;
}
.certificado #certificado--java a img
{
    width: 250px;
    height: 155.97px;
}

#certificado--js a p
{
padding-left: 45px;
}
#certificado--front a p
{
padding-left: 30px;
}
#certificado--java a p
{
padding-left: 75px;
}
.corpo--sobre
{
    margin: 15px;
    background-color: #f4f4f6;
    box-shadow: #000000 4px 4px 8px;
    padding: 10px;
}
.faleconosco form
{
    display: flex;
    flex-direction: column;
}
.faleconosco #descricao
{
    width: 507px;
    height: 300px;
    margin: 15px;
}
.faleconosco #email, #tipoContato
{
    width: 169px;
    height: 18px;
    margin: 15px;
}
.faleconosco button
{
    width: 150px;
    margin-left: 15px;
}